
$canvas-width: 400px;
$canvas-height: 800px;

// color classes allow for randomly assigning background colors to tabs
._1 { background-color: #E91E63; }
._2 { background-color: #9C27B0; }
._3 { background-color: #F44336; }
._4 { background-color: #2196F3; }
._5 { background-color: #CDDC39; }
._6 { background-color: #FFC107; }
._7 { background-color: #00BCD4; }

#canvas-container {
  overflow-y: auto;
}

canvas {
  position: absolute;
  right: -400px;
  top: 0px;
  width: $canvas-width;
  height: $canvas-height;
  box-sizing: border-box;
}

canvas:hover {
  cursor: crosshair;
}

#top-canvas {
  z-index: 10;
}

#canvas-slide-button {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: $primary-color;
  opacity: 1;
  color: white;
  z-index: -10;
}
#canvas-slide-button:hover {
  cursor: pointer;
  background-color: $primary-color-light;
}

#canvas-tab-bar {
  width: 50px;
  height: 100vh;
  min-height: 900px;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: rgba(0,0,0,0.5);
}

.canvas-tab {
  width: 45px;
  height: 100px;
  opacity: 0.5;
  position: relative;
  right: -5px;
  top: 20px;
  margin-top: 5px;
  color: white;
  border-radius: 15px 0px 0px 15px;
}

.canvas-tab:hover {
  opacity: 1;
  cursor: pointer;
}
.canvas-tab:hover>div {
  display: block;
}

.active-tab {
  @extend .canvas-tab;
  opacity: 1;
}
.active-tab:hover {
  cursor: default;
}
.active-tab:hover>div {
  display: block;
}

.tab-userlist {
  display: none;
  width: 80px;
  height: auto;
  background-color: rgba(0,0,0,0.5);
  color: white;
  position: relative;
  left: -105px;
  text-align: center;
}
.tab-userlist-item {
  padding: 5px;
}

#canvas-tools {
  background-color: $primary-color;
  width: $canvas-width;
  height: calc(100vh - #{$canvas-height});
  min-height: 100px;
  position: absolute;
  right: -400px;
  top: 800px;
}

.canvas-tool {
  width: 100px;
  height: 50px;
  border: 2px solid white;
  color: white;
  display: inline-block;
}
.canvas-tool:hover {
  background-color: white;
  color: $primary-color;
  cursor: pointer;
}
