/*
  Styles for chat page
  IMGE 590 - Project 3 - The Product

  Aaron Romel
  Jesse Cooper

  "Drop your joust, boys" - Unknown
*/

// Constants

$sidebar-min-width: 250px;

$user-list-min-width: 85%;

$user-radius     : 4px;
$user-min-width  : 100%;
$user-min-height : 50px;

$message-radius     : 4px;
$message-min-width  : 200px;
$message-max-width  : 550px;
$message-min-height : 70px;

$message-input-height: 32px;

// Mixins

@mixin encircle-avatar($radius) {
	border-radius: $radius;
}

// Containers

#chat-container {
	position : fixed;
	height   : 100%;
	width    : calc(100% - 50px);
}

#sidebar-container {
	@include position-absolute(0px, 0px);
	width            : $sidebar-min-width;
	height           : 100%;
	background-color : $primary-color;
}

#sidebar-container h3 {
	color            : $light-gray;
	background-color : $primary-color-dark;
	line-height      : 80px;
	text-align       : center;
	vertical-align   : middle;
	font-size        : 20pt;
}

#user-list {
	width      : $user-list-min-width;
	margin     : auto;
	margin-top : 20px;
}

#messages-container {
	position   : absolute;
	left       : $sidebar-min-width;
	bottom     : $message-input-height;
	width      : calc(100% - #{$sidebar-min-width});
	max-height : calc(100% - #{$message-input-height});
	overflow-y : auto;
}

// User component styles

.user-wrapper {
	@include material($user-min-width, $user-min-height, $med-gray, rgba(0, 0, 0, 0.5));
	border-radius  : $user-radius;
	margin-bottom  : 20px;
	display        : flex;
	flex-direction : row;
	align-items    : center;
}

.user-avatar {
	@include encircle-avatar(25px);
	width       : 30px;
	height      : 30px;
	margin-left : 5px;
}

.username {
	margin-left : 10px;
	color       : $primary-dark-text;
	display     : inline;
}

// Message component styles

.message-wrapper {
	@include material-flexible($message-min-width, $message-min-height, $primary-color-light, rgba(0, 0, 0, 0.5));
	max-width     : $message-max-width;
	border-radius : $message-radius;
	margin-top    : 8px;
	margin-bottom : 12px;
	margin-right  : 20px;
	margin-left   : 20px;
	display       : inline-block;
	float         : left;
	clear         : both;
}

.self-message {
	float : right;
}

.diagram-message {
	background-color: $accent-color;
}
.diagram-message:hover {
	background-color : $accent-color-light;
	cursor					 : pointer;
}

.message-avatar {
	@include encircle-avatar(25px);
	width       : 30px;
	height      : 30px;
	margin-top  : 10px;
	margin-left : 10px;
}

.message-username {
	position     : relative;
	display      : inline;
	color        : $light-gray;
	top          : -7px;
	margin-left  : 10px;
	margin-right : 10px;
	font-size    : 14pt;
}

.message-text {
	position      : relative;
	border-radius : $message-radius;
	color         : $light-gray;
	display       : block;
	padding       : 5px;
	margin-top    : 5px;
	margin-right  : 10px;
	margin-left   : 20px;
	margin-bottom : 5px;
	height        : 80%;
}

.message-timestamp {
	position      : relative;
	color         : $light-gray;
	display       : inline-block;
	margin-right  : 20px;
	margin-bottom : 5px;
	float         : right;
	font-size     : 8pt;
}

.message-edit {
	display: block;
	@extend .message-text;
	color: black;
}

#message-input-container {
	position : fixed;
	bottom   : 0px;
	left     : $sidebar-min-width;
	// 50px = side tab width, 3px = border overdraw
	width    : calc(100% - #{$sidebar-min-width} - 53px);
}

#message-input {
	width          : 100%;
	height         : $message-input-height;
	text-indent    : 5px;
	font-size      : 13pt;
	vertical-align : middle;
}
