/*
  Styles for chat page
  IMGE 590 - Project 3 - The Product

  Aaron Romel
  Jesse Cooper

  "Drop your joust, boys" - Unknown
*/

// Constants

$sidebar-min-width: 250px;

$user-list-min-width: 85%;

$user-radius     : 4px;
$user-min-width  : 100%;
$user-min-height : 50px;

$message-radius     : 4px;
$message-min-width  : 200px;
$message-max-width  : 550px;
$message-min-height : 70px;

$message-input-height : 34px;
// 50px for tab bar, 3 px for border, 30 px for left & right inset
$message-input-adjust : 83px;

$typing-status-height : 22px;

$message-input-text-color: #4B4B4B;

// Mixins

@mixin encircle-avatar($radius) {
	border-radius: $radius;
}

// Containers

#chat-container {
	position : fixed;
	height   : 100%;
	width    : calc(100% - 50px);
}

.sidebar {
	@include position-absolute(0px, 0px);
	width            : $sidebar-min-width;
	height           : 100%;
	background-color : $primary-color;
	color						 : $primary-light-text;
}

#sidebar-container h3 {
	color            : $light-gray;
	background-color : $primary-color-dark;
	line-height      : 80px;
	text-align       : center;
	vertical-align   : middle;
	font-size        : 20pt;
}

.prem-but {
	@extend .navButton;
	top: calc(100% - 55px);
}

#close-premium {
	width: 20px;
	height: 20px;
	color: white;
	font-size: 2em;
	position: relative;
	top: 5px;
	left: calc(100% - 25px);
}
#close-premium:hover {
	cursor: pointer;
}

#premium-container {
	top: 100%;
	background-color: rgba(0,0,0,0.87);
}

#premium-container h1{
	width: 100%;
	text-align: center;
	position: relative;
	top: 100px;
}
#premium-container img{
	display: block;
	margin: auto;
}

#premium-features {
	list-style-type: circle;
	position: relative;
	top: 100px;
	padding: 20px;
}
#premium-features li {
	margin-bottom: 20px;
}

#user-list {
	width      : $user-list-min-width;
	margin     : auto;
	margin-top : 20px;
}

#messages-container {
	$bottom-offset : calc(#{$message-input-height} + #{$typing-status-height} + 5px);
	position   : absolute;
	left       : $sidebar-min-width;
	bottom     : $bottom-offset;
	width      : calc(100% - #{$sidebar-min-width});
	max-height : calc(100% - #{$bottom-offset});
	overflow-y : auto;
}

// User component styles

.user-wrapper {
	@include material($user-min-width, $user-min-height, $med-gray, rgba(0, 0, 0, 0.5));
	border-radius  : $user-radius;
	margin-bottom  : 20px;
	display        : flex;
	flex-direction : row;
	align-items    : center;
}

.user-avatar {
	@include encircle-avatar(25px);
	width       : 30px;
	height      : 30px;
	margin-left : 5px;
}

.username {
	margin-left : 10px;
	color       : $primary-dark-text;
	display     : inline;
}

// Message component styles

.message-wrapper {
	@include material-flexible($message-min-width, $message-min-height, $primary-color-light, rgba(0, 0, 0, 0.5));
	max-width     : $message-max-width;
	border-radius : $message-radius;
	margin-top    : 8px;
	margin-bottom : 12px;
	margin-right  : 20px;
	margin-left   : 20px;
	display       : inline-block;
	float         : left;
	clear         : both;
}

.self-message {
	float : right;
}

.diagram-message {
	background-color: $accent-color;
}
.diagram-message:hover {
	background-color : $accent-color-light;
	cursor 			 : pointer;
}

.message-avatar {
	@include encircle-avatar(25px);
	width       : 30px;
	height      : 30px;
	margin-top  : 10px;
	margin-left : 10px;
}

.message-username {
	position     : relative;
	display      : inline;
	color        : $light-gray;
	top          : -7px;
	margin-left  : 10px;
	margin-right : 10px;
	font-size    : 14pt;
}

.message-text {
	position      : relative;
	border-radius : $message-radius;
	color         : $light-gray;
	display       : block;
	padding       : 5px;
	margin-top    : 5px;
	margin-right  : 10px;
	margin-left   : 20px;
	margin-bottom : 5px;
	height        : 80%;
	word-wrap     : break-word;
}

.message-timestamp {
	position      : relative;
	color         : $light-gray;
	display       : inline-block;
	margin-right  : 20px;
	margin-bottom : 5px;
	float         : right;
	font-size     : 8pt;
}

.message-edit {
	display: block;
	@extend .message-text;
	color: black;
}

#message-input-container {
	position : fixed;
	bottom   : $typing-status-height;
	left     : calc(#{$sidebar-min-width} + 15px);
	width    : calc(100% - #{$sidebar-min-width} - #{$message-input-adjust});
}

#message-input {
	width          : 100%;
	height         : $message-input-height;
	color          : $message-input-text-color;
	text-indent    : 8px;
	font-size      : 13pt;
	vertical-align : middle;
	border-radius  : 5px;
	border-width   : thin;
	border-color   : $dark-gray;
  	box-shadow     : 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.typing-list {
	position    : fixed;
	height      : $typing-status-height;
	bottom      : 0;
	left        : calc(#{$sidebar-min-width} + 18px);
	color       : $message-input-text-color;
	line-height : $typing-status-height;
	font-size   : 8pt;
	font-weight : bold;
}

.invisible-class {
	visibility: hidden;
}
