/*
  Styles for chat page
  IMGE 590 - Project 3 - The Product

  Aaron Romel
  Jesse Cooper

  "Drop your joust, boys" - Unknown
*/

// Constants

$sidebar-min-width: 300px;

$user-list-min-width: 85%;

$message-list-min-width: 500px;

$user-radius: 3px;
$user-min-width: 100%;

$message-radius: 5px;
$message-min-width: 250px;
$message-min-height: 100px;

// Mixins

@mixin encircle-avatar($radius) {
	border-radius: $radius
}

// Main styling

#chat-container {
	height: 100%;
	width: 100%;
}

#sidebar-container {
	@include position-absolute(0px, 0px);
	width: $sidebar-min-width;
	height: 100%;
	background-color: $primary-color;
}

#sidebar-container h3 {
	color            : $light-gray;
	background-color : $primary-color-dark;
	line-height      : 80px;
	text-align       : center;
	vertical-align   : middle;
	font-size        : 20pt;
}

#user-list {
	width: $user-list-min-width;
	margin: auto;
	margin-top: 20px;
}

#message-container {
	@include position-absolute($sidebar-min-width, 0px);
	min-width: $message-list-min-width;
}

// User component styles

.user-wrapper {
	@include material($user-min-width, 80px, $primary-color-light, rgba(0, 0, 0, 0.5));
	border-radius    : $user-radius;
	margin-bottom    : 20px;
}

.user-avatar {
	@include encircle-avatar(25px);
	width: 50px;
	height: 50px;
}

.username {
	margin-left: 5px;
	color: $light-gray;
	display: inline;
}

// Message component styles

.message-wrapper {
	@include material($message-min-width, $message-min-height, $primary-color-light, rgba(0, 0, 0, 0.5));
	/* May need to use min-width instead of whatever material's doing to get scaling correct */
	border-radius    : $message-radius;
	margin-right     : 20px;
	margin-left      : 20px;
	margin-top       : 20px;
}

.message-avatar {
	@include encircle-avatar(25px);
	width: 30px;
	height: 30px;
}

.message-text {
	background-color: $primary-color;
	color: $light-gray;
	display: inline;
	padding: 5px;
}

#message-input-container {
	position: absolute;
	bottom: 0px;
	left: $sidebar-min-width;
}

#message-input {
	width: 100%;
}
